@model SubSonic.Oracle.Schema.PagedList<BlackMamba.Billing.Models.SettingInRegion>

@{
    ViewBag.Title = "通道区域限制";
    Layout = "~/Views/Shared/_SMSUILayout.cshtml";
}

@section functions{
    @if (ViewData["InstructionId"] == null)
    {
                <button class="btn btn-large btn-blue" onclick="window.open('/SMSUI/ChannelSettings?spId=@ViewData["SPId"]&serviceId=@ViewData["ServiceId"]','_self');">返回</button>
                   <button class="btn btn-large btn-blue" onclick="window.open('/SMSUI/AddRegionRestriction?settingId=@ViewData["SettingId"]','_self');">添加限制</button>
    }
    else
    {
                <button class="btn btn-large btn-blue" onclick="window.open('/SMSUI/ChannelSettings?InstructionId=@ViewData["InstructionId"]','_self');">返回</button>
                   <button class="btn btn-large btn-blue" onclick="window.open('/SMSUI/AddRegionRestriction?settingId=@ViewData["SettingId"]&instructionId=@ViewData["InstructionId"]','_self');">添加限制</button>
    }
            }

    <div style="padding: 5px;">
        @Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "page" })
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    省
                </th>
                <th>
                    市
                </th>
                <th>
                    是否黑名单
                </th>
                <th>
                    创建时间
                </th>
                 <th width="100px">&nbsp;</th>

            </tr>
        </thead>
        <tbody class="prolist">
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">
                    <td>@BlackMamba.Billing.Website.ChinaRegionInfo.ProvincesDict[item.ProvinceId.GetValueOrDefault()]</td>
                    <td>@BlackMamba.Billing.Website.ChinaRegionInfo.CitiesDict[item.CityId.GetValueOrDefault()]</td>
                    <td>@item.IsBlackList</td>
                    <td>@item.CreatedDate</td>

                      <td class="center">
                          <button class="btn btn-large btn-gray" onclick="var c=confirm('确定要删除?'); if(c==true){window.open('/SMSUI/DeleteRegionRestriction?id=@item.Id&settingId=@ViewData["SettingId"]&instructionId=@ViewData["InstructionId"]','_self');}">
                              删 除</button>
                      </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="padding: 5px;">
        @Html.Pager(Model, new PagerOptions() { PageIndexParameterName = "page" })
    </div>
