@model BlackMamba.Billing.Models.SMS.ShortMessageService

@{
    ViewBag.Title = "修改通道服务";
    Layout = "~/Views/Shared/_SMSUILayout.cshtml";
}

<script type="text/ecmascript">
    $(function(){
        var selectedType = @((int)Model.Type) ;
        $("#channel_type_field").find("select").val(selectedType);
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset class="content-fieldset">
        <legend>通道服务</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsManully)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsManully)
            @Html.ValidationMessageFor(model => model.IsManully)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceNumber)
            @Html.ValidationMessageFor(model => model.ServiceNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field" id="channel_type_field">
            @Html.DropDownListFor(model=>model.Type,(SelectList)ViewData["ServiceType"])
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            选择运营商
        </div>
        <div class="editor-field">
            移动 @Html.EditorFor(model => model.IsMobile) 
            联通 @Html.EditorFor(model => model.IsUnicom)
            电信 @Html.EditorFor(model => model.IsTelcom)
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SpId)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
